* {
  box-sizing:border-box;
}
:root {
  --background-color: rgb (6, 11, 25);

}


.App {
  text-align: center;

  background-image: url('/Banner.png');
}


section {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  background-color: #000;
  box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
  display: inline-flex
}

.content {
  width: calc(50% - 50px);
  height: 100%;
  background: #000;
  box-sizing: border-box;
  padding: 30px 50px;
  font-family: sans-serif;
  color: white;
float: inline-end;
overflow: hidden;
  
}
.imageBox {
  width: calc(50% + 50px);
  height: 100%;
  background: url(../../img/banner.jpg);
  box-sizing: border-box;
  border-left:100px solid #000;
  border-bottom: 400px solid transparent;
  z-index: 1;
  
  
  background-position:0cap;

}


.gallery{
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba (0, 0, 0, 1);
  transition:1s;
}
.gallery img{
  
  width: 100%;
  height: auto;

}
.description {
  padding: 15px;
  text-align: center;

}

.container {
  width: 20%;
  padding: 20px;
  height: -2000px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  
  
}
.box {
  
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba (0, 0, 0, 1);
  transition:1s;
  overflow: visible;
  outline: 1px solid red;
}
.box img{
  top:auto;
  display:contents; 
  width: 100%;
  border-radius: 5px;

}
.box:hover{
  transform:scale(1.3);
  z-index: 2;
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
a{
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-header {
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 8, 148);


}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.rodape {
  height: 1000px;
  position: center;
  align-self: center;
  top: 1900px;
  left: -10px;
 
}
.teste {
  background-color: transparent;
}
.teste2{
  background-color: transparent;
}
