.container {
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  
}
.box {
  width: 250px;
  height:auto;
  margin: 0 100px;
  box-shadow: 0 0 20px 2px rgba (0, 0, 0, 1);
  transition:1s;
  position: relative;
  color: blue;
}
.box img{
  display: block;
  width: 100%;
  border-radius: 5px;

}
.box:hover{
  transform:scale(1.3);
  z-index: 2;
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
h6{
  color: green;
}