.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.App-header {
  background: url(1123.jpg) center no-repeat;
  background-size: cover;
  
  
}


.item1{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  
}
