.Navbar {
    width: 100;
    height: 80px;
    background-color: rgb(207, 130, 130) !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header{
    background-color: blueviolet;
}

.links {
    margin-right: 60px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;

}